*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


//Navbar style properties
.navbar {
display: flex;
background-color: #010101;
color: #f1f1f1;
position: absolute;
top: 0;
left: 0;
right: 0;
justify-content: flex-end;
ul {
    display: flex;
    list-style-type: none;
    float: right;
    li {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;

    &:hover {
        opacity: 1;
    }

    &::before {
        transition: 300ms;
        height: 3px;
        content: "";
        position: absolute;
        background-color: #f1f1f1;
    }
    }
    .ltr {
    &::before {
        width: 0%;
        bottom: 15px;
    }
    &:hover::before {
        width: 100%;
    }
    }
}
}

//end of Navbar style properties
